.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading{
  color: rebeccapurple;
}
h1 {
  text-align:center;
}

.form-control {
  width: 50%;
}

.redBg{
  background-color: red;
  color:white;
}
.greenBg{
background-color: green;
color:white;
}

.blackBg{
  background-color:black ;
  color:white;
}

.radio-btn{
  margin-left: 10px;
}
.critical{
  color:white;
  height:150px;
  width: 500px;
  background-color:red;
  text-align: left;
  margin-left: 50px;
    margin-right: auto;
    padding-left: 10px;
}
.normal{
  color:white;
  height: 150px;
  width: 500px;
  background-color:green;
  text-align: left;
  margin-left: 50px;
 margin-right: auto;
 padding-left: 10px;
}

.info{
  color:white;
  height: 150px;
  width: 500px;
  background-color: black;
  text-align: left;
  margin-left: 50px;
  margin-right: auto;
  padding-left: 10px;
}
ul{
  list-style-type: none;
  margin: 20px;
}

ul li{
  padding-left:10px;
  padding-bottom: 20px;
}